.GameLog {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  max-height: 260px;
  max-width: 300px;
  overflow-y: auto;
  padding: 4px;
  position: absolute;
  right: 0;
  top: 0;
}
