.Game {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  .bottom {
    .PlayerContainer {
      display: flex;
      height: 32px;
      justify-content: center;
    }
  }

  .middle {
    display: flex;
    flex: 1;

    .center {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: center;
    }

    .left {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 80px;
    }

    .right {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 80px;
    }
  }

  .top {
    display: flex;
    height: 32px;
    justify-content: center;
  }
}
