.PlayerContainer {
  align-items: center;
  display: flex;
  padding: 8px;

  &.on-side {
    flex-direction: column;

    .MuiChip-root:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &:not(.on-side) > *:not(:last-child) {
    margin-right: 8px;
  }
}
