.PlayingCard {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-size: 1.25rem;
  height: 224px;
  perspective: 600px;
  width: 160px;

  &.clubs,
  &.spades {
    .signature {
      color: black;
    }
  }

  &.diamonds,
  &.hearts {
    .signature {
      color: red;
    }
  }

  &.actionable:hover {
    cursor: pointer;
  }

  .card {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
  }

  .back,
  .face {
    backface-visibility: hidden;
    height: 100%;
    padding: 8px;
    position: absolute;
    transition: box-shadow 0.5s;
    width: 100%;
  }

  .back {
    background-color: #dc004e;
    box-sizing: border-box;
    transform: rotateY(180deg);

    .border {
      border: 4px solid white;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
    }
  }

  .face {
    box-sizing: border-box;
    display: flex;
  }

  .pips {
    flex: 1;
  }

  .signature {
    align-items: center;
    display: flex;
    flex-direction: column;

    ~ .signature {
      transform: scale(-1, -1);
    }
  }

  .scale-container {
    height: 100%;
    transform-style: preserve-3d;
    width: 100%;
  }
}
