.Card {
  border: 1px solid black;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  font-family: "Merriweather", serif;
  font-size: 1.25rem;
  height: 7rem;
  padding: 0.5rem;
  width: 7rem;

  &.clubs,
  &.spades {
    color: black;
  }

  &.diamonds,
  &.hearts {
    color: red;

    svg {
      fill: red;
    }
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .signature {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
