.Card {
  border: 1px solid black;
  border-radius: 0.5rem 0.5rem 0 0;
  font-family: "Merriweather", serif;
  height: 7rem;
  padding: 1rem;
  width: 7rem;

  &.clubs,
  &.spades {
    color: black;
  }

  &.diamonds,
  &.hearts {
    color: red;
  }
}
