.TrumpPicker {
  align-items: center;
  display: flex;

  .actions {
    display: flex;
    flex-direction: column;

    > *:not(:last-child) {
      margin-bottom: 16px;
    }

    button {
      width: 128px;
    }
  }

  .suit-buttons {
    overflow: hidden;

    button {
      justify-content: flex-start;
    }
  }

  .PlayingCard {
    z-index: 1;
  }
}
