.TrumpPicker {
  align-items: center;
  display: flex;

  svg {
    height: 20px;
    width: 20px;
  }

  .actions {
    display: flex;
    flex-direction: column;

    > *:not(:last-child) {
      margin-bottom: 16px;
    }

    button {
      width: 128px;
    }
  }

  .diamonds,
  .hearts {
    svg {
      fill: red;
    }
  }

  .suit-buttons {
    overflow: hidden;

    button {
      justify-content: flex-start;
    }
  }

  .PlayingCard {
    z-index: 1;
  }
}
